@import 'node_modules/modern-normalize/modern-normalize.css';

/* :root {
  line-height: 1.5;
} */

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol, ul {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

/* The overflow-wrap property lets us tweak the line-wrapping algorithm, and give it permission to use hard wraps when no soft wrap opportunties can be found: */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

img, picture, video, canvas, svg {
  display: block;
  max-inline-size: 100%;
}

input, button, textarea, select {
    font: inherit;
  }

/* This alternative uses the font-size as a base, and adds a fixed amount of space to each line. */
* {
    line-height: calc(1em + 0.5rem);
  }

body {
  -webkit-font-smoothing: antialiased;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

.hidden {
    display: none;
}

.container{
    background-color: aqua;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

::backdrop {
    background-image: linear-gradient(
      45deg,
      magenta,
      rebeccapurple,
      dodgerblue,
      green
    );
    opacity: 0.75;
  }
  
#table-container button{
    padding: 20px;
}